<!DOCTYPE html>
<html lang="en"></html>
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>CRUDelicious</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="~/css/style.css">
	</head>
    <body>
        <div class="container">
            <h1> CRUDelicious </h1>
            <h1><a href="/New">Add a Dish</a></h1>
            <h2>Check Out Some Recent Dishes</h2>
            <div class="dishes">

                @{
                    foreach(Dish dish in Model)
                    {
                        <p><a href="@dish.DishId">@dish.Name</a> by Chef @dish.Chef, created at: @dish.CreatedAt, updated at @dish.UpdatedAt</p>
                    }
                }

            </div>
        </div>
        
    </body>
</html>